.head{
    font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: white;
  margin-top: 300px;
  



}
.totalhead{
    display: flex;
    background-color: black;

}
.img{
    background-size: cover;
    margin-left: 20px;
    margin-bottom: 20px;

}
.p{
    margin-top: 20px;
    margin-right: 70px;
    margin-left: 100px;
    font-size: 15px;
}
.thob{
    display: flex;
    
    background-color: grey;
    margin-top: 10px;
    width: 1500px;
    margin-left: 100px;
    height: 500px;
}
.hh{
    margin-top: 20%;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: white;
    margin-right: 530px;
    
}
.aa{
  color: rgb(9, 26, 179);
 }
.pp{
    margin-left: 12%;
    margin-right: 10%;
    color: aliceblue;
}
.img1{
  margin-left: 200px;
  margin-top: 50px;
}
.tper{
    text-align: center;
    background-color: rgb(238, 225, 210);
    margin-top: 20px;
    width: 1750px;
  height: 1400px;
    
}
.zoro{
    display: flex;
    margin-right: 200px;
   

}
.zoo{
    margin-top: 100px;
    margin-right: 200px;
    margin-bottom: 400px;
    margin-left: 20%;
}
ul {
    list-style: none;
  }
  
  li:before {
    content: "•";
    color: rgb(17, 19, 18);
    margin-right: 5px;
  }
  .hr{
    margin-left: 400px;
    margin-right: 400px;
  }
  .levi{
    display: flex;
    margin-top: -150px;
  }
  .lev{

    margin-top: 00px;
    margin-right: 230px;
    margin-bottom: 500px;
    margin-left: 15%;
}
  .itachi{
    display: flex;
    margin-top: -250px;
  }
  .itch{
    margin-top: 00px;
    margin-right: 300px;
    margin-bottom: 500px;
    margin-left: 15%;

  }
  .hr1{
    margin-left: 400px;
    margin-right: 600px;
    margin-top: -1150px;
  }
  .h2{
    margin-left: 400px;
    margin-right: 600px;
    margin-bottom: 20%;
    margin-top: -250px;
  }
 .tart{
 
  text-align: center;
  color: rgb(176, 21, 182);
  width: 1500px;
  font-style: italic;

  margin-right: 220px;
  margin-left: 200px;
 margin-top: 70px;
 
  
 }
 .imgart1{
  display: flex;
  margin-right: 10px;
  margin-top: 100px;

 }
 .imgart2{
  display: flex;
 }
.img0{
  margin-right: 10px;
  padding-bottom: 10px;

}
.my-button {
  background-color: #970808; 
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
 
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  transition-duration: 0.4s;
  margin-left: 300px;
  margin-top:40px;
 
  
}

.my-button:hover {
  background-color: #3e8e41;
}
.text{
  color: black;;
  
  margin-left: 25%;
  margin-top: 50px;
  color: rgb(153, 112, 49);
  height: 55%;
  width: 55%;
  padding-left: 5%;
  padding-right: 2%;
  padding-bottom: 10px;
  padding-top: 15px;
  background-color: rgb(235, 221, 205);
  
}
.t1{
  display: flex;
  margin-left: 40%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
}
.up{
  margin-bottom: 20px;
  padding-left: 20px;
}
.t2{
  margin-right: 50px;
}
.skillheadings{
  text-align: center;
  margin-top: 30px  ;
}
.creativeicon{
  display: flex;
  
}
.skills1{
  display: flex;
  margin-top: 50px;
  padding-left: 50px;
  margin-left: 10%;
  
 
  
}
.skill2{
  display: flex;
  margin-top: 50px;
  padding-left: 50px;
  margin-left: 10%;
  
}
.adjust{
  width: 20%;
  text-align: center;
  margin-right: 10%;
}
.heading{
  font-style: italic;
  color: rgb(190, 164, 44);
  font-size: 5px;
}
footer {
  background-color: grey;
  padding: 20px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.social-media img {
  width: 30px; 
  height: 30px;
  margin-right: 10px; 
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%; 
  padding: 10px; 
  margin-bottom: 10px; 
  border: none;
  border-radius: 5px; 
}

form textarea {
  height: 100px; 
}

form button {
  background-color: #4CAF50; 
  color: white;
  padding: 10px 20px; 
  border-radius: 5px;
  cursor: pointer;
}
.pag1{
  text-align: center;
  background-color: grey;
  height: 200px;
  margin-bottom: 10px;
  font-style: italic;
  margin-top: 8ch;
}
.para2{
  margin-right: 100px;
  margin-left: 100px;
}
.para1{
  margin-bottom: 50px;
}
.hellp{
  text-align: center;
}
.hell{
 
  padding-top: 50px;
  margin-left: 50px;
  width: 90%;
}
#myVideo {
  width: 40%;
  height: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
.imghell{
  padding-left: 250px;
  display: flex;
}
.hells{
  padding-right: 70px;
}
.hells2{
  padding-left: 50px;
}
.popu{
  width: 90%;
  padding-right: 20px;
  padding-top: 50px;
  background-color: rgb(216, 210, 199);
  margin-top: 10px;
  height: 400px

}
.popu.p{
  padding-right: 100px;
}
.tcity{
  background-image:url(city.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 80vh;
  width: 100%;
}

.textcity{
  text-align: center;
  margin-top: 8ch;

}
.city1{

  margin-top: 18ch;
}
.yu{
  text-align: center;
}
.pad{
  margin-left: 27ch;
}
.pclass{
  padding-left:13ch;
  padding-right:18ch;
  padding-top:7ch;

}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b91e1e;
  padding: 20px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0 10px;
}

.navbar-menu li a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s;
}

.navbar-menu li a:hover {
  color: #ff0000;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1a1919;
  z-index: 100;
  padding: 20px;
}
.textspots{
  background-image:url(https://i.pinimg.com/736x/71/93/20/719320b534f6c91b6d6c7300deff0e4e.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 90vh;
  width: 100%;
  text-align: center;
  margin-top: 8ch;
}
.title{
  padding-top: 12ch;
  padding-bottom: -16ch;
  text-align: center;
  color:  rgba(8, 4, 236, 0.3);
  font-style: italic;
}
body{
  
  background-color: rgb(243, 233, 233);
  color:rgb(71, 25, 25);

}
form{
  padding: 100px;
  padding-top: -70px;
  margin-left: 100px;
  margin-right: 100px;
}
.form0{
  background-color: rgba(0, 49, 34, 0.3);
  padding-left: 300px;
  padding-right: 300px;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 12ch;
  padding-bottom: 17ch;

}




